<div class="top-bar">
    <img src="./assets/img/logo.jpeg" class="header-logo"/>
</div>
<header>
    <div class="header-container">
        <div class="menu-container">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a (click)="_onRouteChange()"
                       class="navigation-items">CLASSIFIES</a>
                </li>
                <li class="nav-item">
                    <a (click)="_onRouteChange()"
                       class="navigation-items">KIDS</a>
                </li>
                <li class="nav-item">
                    <a (click)="_onRouteChange()"
                       class="navigation-items">STUDENTS</a>
                </li>
                <li class="nav-item">
                    <a (click)="_onRouteChange()"
                       class="navigation-items">FOOD</a>
                </li>
                <li class="nav-item">
                    <a (click)="_onRouteChange()"
                       class="navigation-items">MEDICAL</a>
                </li>
                <li class="nav-item">
                    <a (click)="_onRouteChange()"
                       class="navigation-items">JOBS</a>
                </li>
                <li class="nav-item">
                    <a (click)="_onRouteChange()"
                       class="navigation-items">REAL STATE</a>
                </li>
                <li class="nav-item">
                    <a (click)="_onRouteChange()"
                       class="navigation-items">LOCAL EVENTS</a>
                </li>
                <li class="nav-item">
                    <a (click)="_onRouteChange()"
                       class="navigation-items">RELIGIOUS</a>
                </li>
                <li class="nav-item">
                    <a (click)="_onRouteChange()"
                       class="navigation-items">SPECIAL SERVICES</a>
                </li>
                <li class="nav-item">
                    <a (click)="_onRouteChange()"
                       class="navigation-items">PROFESSIONAL SERVICES</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mobile-menu" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a (click)="_onRouteChange()">CLASSIFIES</a>
            </li>
            <li class="nav-item">
                <a (click)="_onRouteChange()">KIDS</a>
            </li>
            <li class="nav-item">
                <a (click)="_onRouteChange()">STUDENTS</a>
            </li>
            <li class="nav-item">
                <a (click)="_onRouteChange()">FOOD</a>
            </li>
            <li class="nav-item">
                <a (click)="_onRouteChange()">MEDICAL</a>
            </li>
            <li class="nav-item">
                <a (click)="_onRouteChange()">JOBS</a>
            </li>
            <li class="nav-item">
                <a (click)="_onRouteChange()"
                   class="navigation-items">REAL STATE</a>
            </li>
            <li class="nav-item">
                <a (click)="_onRouteChange()">LOCAL EVENTS</a>
            </li>
            <li class="nav-item">
                <a (click)="_onRouteChange()">RELIGIOUS</a>
            </li>
            <li class="nav-item">
                <a (click)="_onRouteChange()">SPECIAL SERVICES</a>
            </li>
            <li class="nav-item">
                <a (click)="_onRouteChange()">PROFESSIONAL SERVICES</a>
            </li>
        </ul>
    </div>
</header>

